<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>DATABASE: KARYOTYPE</title>
        </head>
        <body style="background-color: lightgreen;">
            <h1>Karyotype</h1>
            {% if context.karyotype == "ERROR" %}
                <h4>No species chosen. Please select a species.</h4>
            {% else %}
                <h1>Karyotype of {{context.species}}</h1>
                <h4>The name of the chromosomes:</h4>
                {% for n in context.karyotype %}
                  <option value="{{n}}">{{n}}</option>
                {% endfor %}
            {% endif %}
            <a href="/">Main page</a>
        </body>
    </html>