<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>DATABASE: LIST SPECIES</title>
        </head>
        <body style="background-color: lightgreen;">
            <h1>List of species</h1>
            {% if context.arguments == "ERROR" %}
                <h4>No limit chosen. Please select a limit.</h4>
            {% elif context.limit <= context.amount_species %}
                <h4>Total species in the ensembl database: {{context.amount_species}}</h4>
                <h4>Limit you have chosen: {{context.limit}}</h4>
                <h4>List of species:</h4>
                <ul>
                {% for n in context.names %}
                  <li>{{n}}</li>
                {% endfor %}
                </ul>
            {% elif context.limit >= context.amount_species %}
                <h4>Sorry. We do not have {{context.limit}} species in our database but only {{context.amount_species}} . Because of the inconvinience, here you have all of them."</h4>
                <h4>List of species:</h4>
                <ul>
                {% for n in context.names %}
                  <li>{{n}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <a href="/">Main page</a>
        </body>
    </html>
